* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #000000;
  padding-top: 100px; /* Adjust based on banner + navbar height */
}

.banner {
  width: 100%;
  background-color: #666cff;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-text {
  color: #ffffff;
  font-size: clamp(14px, 2.5vw, 16px);
  line-height: 1.5;
  font-weight: 400;
  padding-left: 500px;
}

.close-banner {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
}

.navbar {
  background-color: #000000;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 35px; /* Adjust based on banner height */
  left: 0;
  right: 0;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
}

.logo1 {
  padding-left: 106px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
}

.nav-menu {
  display: flex;
}

.nav-buttons {
  display: flex;
  gap: 24px;
  padding-right: 106px;
}

.btn {
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-text {
  background: none;
  border: none;
  color: #ffffff;
}

.cut {
  position: relative;
  color: #ffffff; /* Text color for 'Selling' */
}

.cut::before {
  content: '';
  position: absolute;
  top: 50%; /* Cut through the middle of the text */
  left: 0;
  width: 100%;
  height: 6px; /* Thickness of the cutting line */
  background-color: #ffffff; /* Line color (black) */
}
.btn-text:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #666cff;
  border: none;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #5457d6;
}

.hero {
  background: radial-gradient(43.15% 76.82% at 78.12% 71.24%, #2a30b2 0%, rgba(172, 171, 251, 0) 100%),
    linear-gradient(0deg, #070a1e, #070a1e), #ffffff;
  min-height: 100vh;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 50px;
  margin: 0 62px;
  margin-bottom: -5px;
  margin-top: 50px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 3rem;
  margin-bottom: 2rem;
}

.left-column {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stats {
  font-weight:100;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 26px;
}

.highlight {
  color: #4CD6B4;
}

.heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
}

.demo-button {
  display: inline-block;
  background-color: white;
  color: #3B1E8F;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  margin-bottom: 120px;
}

.demo-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 50px;
}

.demo-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(-2px);
}

.right-column {
  padding-right: 0;
  margin-top: 50px;
  margin-left: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 100;
}

.feature-text {
  font-size: 26px;
  line-height: 1.4;
  font-weight: 100;
  padding-bottom: 50px;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .hero {
    margin: 0;
    padding: 1rem;
    border-radius: 25px;
  }

  .grid {
    gap: 2rem;
  }

  .heading {
    font-size: clamp(2rem, 4vw, 3rem);
  }

  .feature-text {
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  }
}

.social-proof {
  padding-top: 320px;
  background-color: #000000;
  padding: 80px 0;
  text-align: center;
}

.social-proof-title {
  padding-top: 0;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

.client-logos {
  padding-top: 10px;
  width: 100%;
  max-width: 800px;
  height: auto;
  opacity: 0.8;
}

.challenges {
  background-color: #000000;
  padding: 120px 0 60px;
  text-align: center;
  padding-bottom: 0;
}

.challenges-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.pill-label {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 100px;
  border: 2px solid #666cff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.challenges-title {
  font-size: 55px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.2;
  margin: 0;
}

.enterprise-card {
  display: flex;
  background: rgba(23, 22, 31, 1);
  border-radius: 45px;
  padding-top: 48px;
  padding-left: 48px;
  max-width: 1200px;
  min-width: 1200px;
  margin: 120px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
}

.enterprise-image {
  margin-left: 170px;
  margin-top: 0;
  width: 75%;
  height: auto;
}

.text_content {
  width: 60%;
}

.card-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 40px;
}

.highlightx {
  background: rgba(64, 205, 250, 1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #26c6f9;
}

.highlighty {
  background: rgba(120, 126, 255, 1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(120, 126, 255, 1);
}

.highlightz {
  background: rgba(253, 190, 66, 1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(253, 190, 66, 1);
}

.bullet-point {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  border: 1px, rgba(255, 255, 255, 0.15);
  padding: 20px;
  margin-bottom: 20px;
  gap: 12px;
  color: #ffffff;
}

.bullet-point p {
  padding-left: 12px;
  padding-top: 7px;
}

.gradient-footer {
  position: relative;
  background: #021010;
  padding: 80px 0 40px;
  overflow: hidden;
  height: 1000px;
}

.tagline2 {
  margin-top: 240px;
}

.gradient-overlays {
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.gradient-3 {
  position: absolute;
  border-radius: 50%;
  filter: blur(200px);
}

.gradient-3 {
  width: 100%;
  height: 100%;
  right: -50%;
  bottom: 30%;
  background: linear-gradient(270.51deg, #31337c 50%, #2e2f54 100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
}

.hero-content1 h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content1 p {
  font-size: 14px;
  color: #a6a6a6;
  margin-bottom: 40px;
}

.logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo2 {
  width: 60px;
  height: 60px;
}

.brand-name {
  font-size: 24px;
  font-weight: 600;
}

.tagline {
  font-size: 14px;
  color: #a6a6a6;
}

.form-container {
  background: #000000;
  border-radius: 20px;
  padding: 40px;
  margin-top: 70px;
  color: #ffffff;
  height: 500px;
  width: 500px;
}

.form-content h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background: #666cff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #5a5fe6;
}

.trial-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #a6a6a6;
}

.trial-link a {
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-bottom p {
  color: #a6a6a6;
  font-size: 14px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.dot {
  width: 4px;
  height: 4px;
  background: #a6a6a6;
  border-radius: 50%;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .navbar {
    align-items: center;
    padding: 16px 0;
  }

  .logo1 {
    padding-left: 0;
  }

  img.logo1 {
    width: 40%;
    height: 40%;
  }

  .nav-buttons {
    padding-right: 0;
    gap: 16px;
  }

  .hero {
    margin: 0 40px;
    padding: 130px 20px 0 20px;
    border-radius: 20px;
  }

  .hero-content {
    padding-top: 0;
    padding-left: 0;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-logo {
    width: 300px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-image {
    height: auto;
    max-width: 100%;
  }

  .hero-subtitle {
    margin-top: 8px;
    padding-left: 0;
    text-align: left;
  }

  .social-proof-title {
    font-size: 24px;
    padding-top: 200px;
  }

  .client-logos {
    width: 80%;
    margin: 0 auto;
  }

  .challenges-title {
    font-size: 40px;
    margin: 20px 0;
  }

  .enterprise-card {
    flex-direction: column;
    margin: 60px 40px;
    padding: 40px;
    min-width: auto;
    width: auto;
  }

  .text_content,
  .image_content {
    width: 100%;
    margin: 0;
  }

  .enterprise-image {
    width: 10%;
    margin-top: 20px;
    margin-left: 0;
    height: auto;
  }

  .card-title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .gradient-footer {
    height: auto;
    padding: 60px 0 40px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-column {
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .tagline2 {
    margin-top: 60px;
  }

  .form-container {
    margin-top: 20px;
    width: auto;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 80px;
  }

  .banner-text {
    font-size: clamp(14px, 5vw, 16px);
      padding-left: 0px;
  }

  .navbar {
    padding: 12px;
    
  }

  .logo1 {
    padding-left: 0;
  }

  .menu-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #021010;
    padding: 20px;
  }

  .nav-menu.active {
    display: block;
  }

  .nav-buttons {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    gap: 12px;
  }

  .btn {
    width: 100%;
    padding: 10px 16px;
    font-size: 14px;
  }

  .hero-logo {
    display: none;
  }
  .right-column {
    padding-right: 0;
    margin-left: 0;
  }
  .hero {
    margin: 0;
    padding: 50px 10px 0 10px;
    border-radius: 50px;
    min-height: 400px;
    margin-top: 50px;
  }

  .hero-title {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
  }

  .hero-subtitle {
    font-size: 14px;
    padding-left: 0;
  }

  .hero-image {
    margin-bottom: -5px;
  }

  .social-proof {
    padding-top: 100px;
  }

  .social-proof-title {
    font-size: 20px;
    padding-top: 0px;
  }

  .client-logos {
    width: 90%;
  }

  .challenges {
    padding: 60px 0 30px;
  }

  .pill-label {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .challenges-title {
    font-size: 32px;
  }

  .enterprise-card {
    margin: 40px 20px;
    padding: 20px;
  }

  .card-title {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .bullet-point {
    padding: 16px;
  }

  .enterprise-image {
    margin-top: 16px;
    margin-left: 0;
    width: 100%;
  }

  .gradient-footer {
    height: auto;
    padding: 40px 0 20px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .left-column {
    padding-top: 0;
    margin-bottom: 0;
  }

  .hero-content1 h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .hero-content1 p {
    font-size: 12px;
  }

  .tagline2 {
    margin-top: 40px;
  }

  .form-container {
    width: auto;
    margin-top: 10px;
    padding: 20px;
  }

  .form-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-group label {
    font-size: 16px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 14px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 12px;
  }

  .trial-link {
    font-size: 12px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }

  .footer-bottom p {
    margin-bottom: 10px;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }

  .dot {
    display: none;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 35px;
  }

  .hero-buttons {
    gap: 8px;
  }

  .challenges-title {
    font-size: 26px;
  }

  .card-title {
    font-size: 24px;
  }

  .footer-bottom {
    margin-top: 20px;
  }
}

/* Add these new styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #666cff;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    position: relative;
    color: white;
    margin-top: 250px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #666cff;
    text-decoration: none;
    cursor: pointer;
}

/* Add any additional styles you need for the form inside the modal */
#demoForm {
    margin-top: 20px;
}

#demoForm .form-group {
    margin-bottom: 20px;
}

#demoForm label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

#demoForm input,
#demoForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #666cff;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #ffffff;
}

#demoForm .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #666cff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#demoForm .submit-btn:hover {
    background-color: #5a5fe6;
}